.footer {
  background: #fff;
  color: #000;
  font-family: Arial, sans-serif;
  text-align: left;
}

.line {
  border: none;
  border-top: 1px solid #ccc;
  margin: 0 60px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 40px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 10px;
}

.footer-about {
  flex: 1;
  min-width: 300px;
}

.footer-about p {
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
}

.footer-links,
.footer-contact {
  flex: 1;
  min-width: 220px;
}

.footer-links h3,
.footer-contact h3 {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid orange;
  display: inline-block;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: orange;
}

.footer-contact p {
  font-size: 14px;
  margin: 4px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.payment h3,
.social h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.payment-icons img {
  width: 50px;
  margin-right: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  background: orange;
  color: white;
  font-size: 16px;
  padding: 8px;
  border-radius: 6px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #e06000;
}

.copyright {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f2f6fa;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .payment-icons img {
    width: 40px;
  }

  .social-icons a {
    font-size: 14px;
    padding: 6px;
  }
}
