.launch-section {
  text-align: center;
  padding: 40px 80px;
  background: #fff;
  font-family: "Poppins", sans-serif;
}

.launch-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #1f1f1f;
}

.launch-desc {
  color: #555;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.5;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  background: #ffffff;
  border: 3px solid #cbe7fa;
  border-radius: 10px;
  padding: 20px;
  width: 260px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  height: 260px;
  object-fit: contain;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0 5px;
  color: #111;
}

.card-desc {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .launch-section {
    padding: 30px 40px;
  }
  .launch-title {
    font-size: 28px;
  }
  .launch-desc {
    font-size: 15px;
    padding: 0 10px;
  }
  .card-container {
    gap: 25px;
  }
  .card {
    width: 220px;
  }
  .card-img {
    height: 220px;
  }
}